#root{
  height: 100%;
  display: flex;
}
.App{
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.App-header {
  flex: 0 0 auto;
  text-align: center;
  background-color: #222;
  height: 40px;
  padding: 15px;
  color: white;
}

.dashboard{
  flex: 10 0 600px;
  display: flex;
}

.map{
  flex: 0 0 70%;
}

.stats{
  flex: 0 0 30%;
}
