#root{
  height: 100%;
  display: flex;
}
.App{
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.App-header {
  flex: 0 0 auto;
  text-align: center;
  background-color: #222;
  height: 40px;
  padding: 15px;
  color: white;
}

.dashboard{
  flex: 10 0 600px;
  display: flex;
}

.map{
  flex: 0 0 60%;
}

.stats{
  flex: 0 0 40%;
  padding-left: 20px;
}
h4{
  margin-bottom: 4px;
}
.trip-details{
  color: #999;
  margin-left: 20px;
  margin-bottom: 20px;
}
.time-of-day {
  padding: 0
}

.time-of-day li{
  display: inline-block;
  margin: 2px;
}
.time-of-day li a{
  color: #777
}
.time-of-day li .active{
  font-weight: bold;
}
